<footer class="footer" style="background:#252525;">
    <div class="container">
        <div class="row">
            <nav class="footer-nav" >
                <ul>
                    
                   <li style="color:white;font-weight:bold;">Abdur Rehman</li>
				   <li style="color:white;font-weight:bold;">Ahsan Abrar</li>
				   <li style="color:white;font-weight:bold;">Bilal Aamir</li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright" style="color:white;">
                    © {{test | date: 'yyyy'}} Ask Leprechaun, All Rights Reserved. 
                </span>
            </div>
        </div>
    </div>
</footer>
