<div class="section section-buttons">
    <div class="container">
		  <br> <br>
		 <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" style="font-size:49px; color:black; letter-spacing: 0.06em; font-family:Arial,Helvetica,sans-serif;">What is Ask <span style="color:#00973A;"> Leprechaun?</span>	</h2>
			<p class="description" style="font-size:25px; color:black; font-family:Arial,Helvetica,sans-serif;">Leprechaun is an Irish mythical creature which collects gold but now
			the leprechauns are not only smart enough to collect modern gold that are the
			Crpyto Currencies but uses deep learning and twitter analysis to predict the GOLD! <br> <br>
			
			<span style="font-size:25px; color:#ED1566; font-family:Arial,Helvetica,sans-serif;"> SO BE SMART AND </span> <span style="font-size:25px; color:#00973A;  font-family:Arial,Helvetica,sans-serif;">ASK LEPRECHAUN</span>!</p>
        </div>	
</div>
</div>		
<div style="background:#252525; color:white; height:190px; line-height: 1.6em; text-align: center; font-size:20px; font-family:avenir-lt-w01_35-light1475496,sans-serif;
 letter-spacing:0.55em; padding-top:85px;	">FEARLESS INVESTMENTS IN OVER 10 COINS </div>
<div style="background:#00973A; height:13px;"> </div>
<div class="parallax" style="background-image: url('assets/img/image1.webp');"> </div>
<div class="section section-buttons">
    <div class="container">
        
		 <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" style="font-size:49px; color:black; letter-spacing: 0.06em; font-family:Arial,Helvetica,sans-serif;">Why Ask<span style="color:#00973A;"> Leprechaun</span>?</h2> <br>
			<br>	
	
     <div class="expandable-box container">
       <p class="title" style="font-size:19px; color:black; padding-top:-10px;   font-weight:bold;">Ask. Listen. Solve.</p>
    </div>
    
    <div class="expandable-box">
      <p class="title" style="font-size:19px; color:black; padding-top:-10px;   font-weight:bold;">You need us</p>
    </div>
    
    <div class="expandable-box">
       
      <p class="title" style="font-size:19px; color:black; padding-top:-10px;   font-weight:bold;">Live richly</p>
    </div>
    
    <div class="expandable-box">
       
      <p class="title" style="font-size:19px; color:black; padding-top:-20px;   font-weight:bold;">We know money</p>
    </div>
    
    <div class="expandable-box">
      <p class="title" style="font-size:19px; color:black; padding-top:-10px;   font-weight:bold;">You’re first</p>
    </div>
    
    <div class="expandable-box">
      <p class="title" style="font-size:19px; color:black; padding-top:-10px;   font-weight:bold;" >New money</p>
 
  </div>
</div>
  </div>
  </div>
 
  
  

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <div style="background:#252525; height:540px;">
  <br>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h2 class="title text-center" style="font-size:49px; color:white; letter-spacing: 0.06em; font-family:Arial,Helvetica,sans-serif;">RECENT NEWS</h2> <br>
    </div>
    <div class="col-sm-3"></div>

</div>


      <div class="row">
          <div class="col-sm-1"></div>
    <div class="coinmarketcap-currency-widget col-sm-3" style=" padding-left:10px;  float: none; box-sizing: border-box; line-height: 1;" data-currency="bitcoin" data-base="USD" data-secondary="" data-ticker="false" data-rank="false"data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

    <div class="coinmarketcap-currency-widget col-sm-3" style=" padding-left:10px; float: none; box-sizing: border-box; line-height: 1;" data-currency="ethereum" data-base="USD" data-secondary="" data-ticker="false" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
    <div class="coinmarketcap-currency-widget col-sm-3" style=" padding-left:10px; float: none; box-sizing: border-box; line-height: 1;" data-currency="litecoin" data-base="USD" data-secondary="" data-ticker="false" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>
          <div class="col-sm-1"></div>
      </div>
    <br>

      <div class="row">

          <div class="col-sm-1"></div>
    <div class="coinmarketcap-currency-widget col-sm-3" style="padding-left:10px; float: none; box-sizing: border-box; line-height: 1;" data-currencyid="131" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="true"></div>
    <div class="coinmarketcap-currency-widget col-sm-3" style="padding-left:10px; float: none; box-sizing: border-box; line-height: 1;" data-currencyid="109" data-base="USD" data-secondary="" data-ticker="true" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="true"></div>
    <div class="coinmarketcap-currency-widget col-sm-3" style="padding-left:10px; float: none; box-sizing: border-box; line-height: 1;" data-currencyid="52" data-base="USD" data-secondary="" data-ticker="false" data-rank="false" data-marketcap="false" data-volume="false" data-stats="USD" data-statsticker="false"></div>

          <div class="col-sm-1"></div>

      </div>


   
  </div>

  
  <div class="parallax" style="background-image: url('assets/img/image2.webp');"> </div>

  <div class="section section-buttons">
    <div class="container">
        
		 <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title text-center" style="font-size:49px; color:black; letter-spacing: 0.06em; ">CONTACT US</h2>
		 </div>
			<h3 class="container" style="font-size:25px; color:black; font-weight:bold;  font-family:Arial,Helvetica,sans-serif;">FOR ANY INQUIRES,<br> PLEASE CALL OR EMAIL US:</h3>
			<p class="container" style="font-size:22px; color:grey;  font-family:Arial,Helvetica,sans-serif;">03333709568 | leprechaunfyp@gmail.com</p>
			
			<h3 class="container" style="font-size:25px; color:black; font-weight:bold;  font-family:Arial,Helvetica,sans-serif;">OUR ADDRESS:</h3>
			<p class="container" style="font-size:22px; color:grey; font-family:Arial,Helvetica,sans-serif;">Tarbela Road, District Swabi, Khyber Pakhtoon Khwa, Topi 23660</p>
			<h3 class="container" style="font-size:25px; color:black; font-weight:bold;  font-family:Arial,Helvetica,sans-serif;">Alternatively</h3>
			<p class="container" style="font-size:22px; color:grey; font-family:Arial,Helvetica,sans-serif;">You can fill in the following contact:</p>

			
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight:bold;" >Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" style="font-weight:bold;" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight:bold;" >Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" style="font-weight:bold;" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label style="font-weight:bold;">Message</label>
                        <textarea class="form-control" rows="4" style="font-weight:bold;" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-success btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
			
	</div>
</div>        
