


<div class="row">



    <div class="col-sm-2"> </div>




    <div class="col-sm-8">


    <br><br><br><br>
<div class="faq-header text-center">Frequently Asked Questions</div>
<div class="faq-content">
<div class="faq-question">
<input id="q1" type="checkbox" class="panel">

<label for="q1" class="panel-title">


            <div class="row">

                <div class="col-sm-3">    <div class="plus">+</div>   </div>

                <div class="col-sm-8">
                    Why should we ASK LEPRECHAUN?
                </div>

            </div>










</label>
<div class="panel-content">LEPRECHAUN uses deep learning neural networks and twitter
            analysis of various coins to predict the future. Leprechaun is smart.
            So you should Ask LEPRECHAUN
</div>
</div>

<div class="faq-question">
<input id="q2" type="checkbox" class="panel">

    <label for="q2" class="panel-title">

    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8 ">
            How can I use the Ask Leprechaun predictions?
        </div>

    </div>

    </label>
<div class="panel-content">


    The technology behind ASK LEPRECHAUN is designed to predict broad market moves that happen over periods of several weeks or months. Therefore, ASK LEPRECHAUN typically disregards short term quick market spikes and drops (oscillations) that last approximately 7-10 days or less. If ASK LEPRECHAUN predicts a downward market trend, you may want to consider moving your stock-based assets to bonds or cash, and keep the money there until ASK LEPRECHAUN predicts a market rise. At that point it may be a good idea to move money from cash or bonds back to stock assets. Keep in mind, however, that we explicitly do not provide any specific recommendations regarding trading your assets - that will be solely your own decision and responsibility, in consultation with your personal financial advisor.</div>
</div>

<div class="faq-question">
<input id="q3" type="checkbox" class="panel">

<label for="q3" class="panel-title">


    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8">
            Can ASK LEPRECHAUN be used for predicting prices of individual stocks?
        </div>

    </div>



</label>
<div class="panel-content">The use of ASK LEPRECHAUN for predicting individual stock behavior should be done with caution. As mentioned above, ASK LEPRECHAUN will generate a warning for an upcoming broad market change based on a consistent ASK LEPRECHAUN down- or uptrend. Thus, it is not a suitable predictive tool for day trading of individual stocks. Furthermore, pricing directions of individual stocks do not necessarily follow broad market moves. Nevertheless, you can certainly try to check if price variations of your favorite stocks can be actually predicted by ASK LEPRECHAUN.</div>
</div>

<div class="faq-question">
<input id="q4" type="checkbox" class="panel">
<<label for="q4" class="panel-title">


    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8">
            Can you guarantee that ASK LEPRECHAUN will predict market moves with 100% accuracy?
        </div>

    </div>

</label>
<div class="panel-content">Based on our experience to date, ASK LEPRECHAUN has consistently predicted 90% of significant stock market movements. However, as with any prediction, there is always a chance that some market changes may be difficult to foresee. In general, ASK LEPRECHAUN is most effective under conditions of natural economic cycles. Extraneous factors or circumstances that are not related to normal economy flow may affect ASK LEPRECHAUN readings and decrease its predictive power. However, twitter sentimental analysis of various crypto currencies helps us to overcome this issue to great extent but this problem still exists.
            Thus, one should always keep an eye on significant non-economic events and be extra cautious in applying ASK LEPRECHAUN predictions when such events do take place. Ultimately the decision to sell or buy your assets is completely your own; ASK LEPRECHAUN is a tool that provides input to help you make such decision.
</div>
</div>

<div class="faq-question">
<input id="q5" type="checkbox" class="panel">

    <label for="q5" class="panel-title">


        <div class="row">

            <div class="col-sm-3">    <div class="plus">+</div>   </div>

            <div class="col-sm-8">
                Does the magnitude of ASK LEPRECHAUN changes predict the extent of forthcoming market rise or fall?
            </div>

        </div>

</label>
<div class="panel-content"> Based on our observations, the scale of ASK LEPRECHAUN change and the scale of the subsequent market change do not necessarily correlate. The most important parameter to watch is the ASK LEPRECHAUN trend (up or down), not the steepness of this trend.</div>
</div>

<div class="faq-question">
<input id="q6" type="checkbox" class="panel">
<label for="q6" class="panel-title">



    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8">
            How many crypto currencies does the ASK LEPRECHAUN predicts?
        </div>

    </div>

</label>
<div class="panel-content">ASK LEPRECHAUN predicts around 10 coins whose volume is greater than 100 BTC.</div>
</div>

<div class="faq-question">
<input id="q7" type="checkbox" class="panel">
<label for="q7" class="panel-title">

    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8">
            What is included in our services?
        </div>

    </div>


</label>
<div class="panel-content">Using our proprietary technology platform, we calculate the ASK LEPRECHAUN on a regular basis and post the updated graphical ASK LEPRECHAUN trend line once every 3 days, along with the S&P 500 broad stock market index. Our subscribers will be able to access the graphical data and check for ASK LEPRECHAUN-predicted market trends at any time. This information will help you to adjust your investment portfolio to take full advantage of the upcoming market rise or decline.</div>
</div>


<div class="faq-question">
<input id="q8" type="checkbox" class="panel">
<label for="q8" class="panel-title">


    <div class="row">

        <div class="col-sm-3">    <div class="plus">+</div>   </div>

        <div class="col-sm-8">
            How much does it cost?
        </div>

    </div>

   </label>
<div class="panel-content">We understand that due to the unique and novel nature of the ASK LEPRECHAUN investors may be cautious about this technology and may need time to evaluate its performance. Therefore, as an introductory limited time offer, new subscribers will receive full free access to our service for a trial period of 6 months (no credit card required). If you decide to continue using ASK LEPRECHAUN beyond the trial period, the cost to access our service will be $120 per year. As an option, you may consider to skip the trial period and immediately receive full subscription for just $60 per year. The currently shown rates will not change for the lifetime of your account as long as the account is in good standing. Subscription payments are non-refundable.</div>
</div>



</div>


    </div>



    <div class="col-sm-2"> </div>




</div>
